@import "base";

.challenges-wrapper {
  padding-bottom: 70px;
}
.challenges-wrapper h1 {
  text-align: center;
  margin: 2rem 0;
}

.challenges-wrapper p {
  text-align: center;
  margin-bottom: 2rem;
}

.challenges > div {
  background-color: #e0dca4;
  border-radius: 10px;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.challenges h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.challenge-item {
  position: relative;
  .question-mark {
    all: unset;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffbcbc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .challenges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .challenges > div {
    width: 45%;
  }

  .challenges-wrapper h1 {
    margin-top: 5rem;
  }
}
