.friend-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: 2em;
}

.button-container {
  margin-top: 2em;
  gap: 5px;
  display: flex;
  align-items: center;
}

.friend-card {
  background-color: rgb(109, 174, 112);
  width: 80%;
  padding: 2em 0;
  margin: 3em;
  border-radius: 1em;
}
