nav {
  background-color: #78944c;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.25rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

    li {
      display: flex;
      align-items: center;
      flex-direction: column;

      a {
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          width: 50px;
          height: 50px;
        }

        .challenge-icon {
          width: 40px;
        }

        span {
          font-size: 0.75em;
          text-align: center;
        }
      }
    }
  }
}

@media(min-width: 48rem){
  nav{
    
  }
}
